<div class="card">
  <div class="card-top" (click)="xemNhanh()" data-toggle="modal" data-target="#myModal">
    <img class=" card-img-top" [src]="objPhim.HinhAnh" alt="">
    <div class="play-button">
      <i class="fa fa-play"></i>
    </div>
    <div class="overlay">
    </div>
  </div>

  <div class="card-body">
    <div>
      <h4 class="card-title">{{objPhim.TenPhim}}</h4>
    </div>
    <!-- CÁCH 1 TRUYỀN THAM SỐ LÊN URL -->
    <!-- <a class="btn btn-primary" routerLink="/home/chi-tiet-phim/{{objPhim.MaPhim}}">Mua vé</a> -->

    <!-- CÁCH 2 TRUYỀN NHIỀU THAM SỐ -->
    <!-- <a class="btn btn-primary" [routerLink]="['/home/chi-tiet-phim']" [queryParams]="{maPhim: objPhim.MaPhim, tenPhim: objPhim.TenPhim}">Mua vé</a> -->
    <button class="btn-mua-ve btn btn-primary" (click)="muaVe()">Mua vé</button>
    <!-- <button class="btn btn-success mx-2" (click)="xemNhanh()" data-toggle="modal" data-target="#myModal">Xem
        nhanh</button> -->

  </div>
</div>